<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                <p>
                    <strong>id</strong>: {{ user.google.id }}<br>
                    <strong>token</strong>: {{ user.google.token }}<br>
                    <strong>email</strong>: {{ user.google.email }}<br>
                    <strong>name</strong>: {{ user.google.name }}
                </p>

            </div>
        </div>

    </div>

</div>